.badge-coal {
  background-color: $badge-coal;
}

.badge-drainage-water {
  background-color: $badge-drainage-water;
}

.badge-environmental {
  background-color: $badge-environmental;
}

.badge-flood {
  background-color: $badge-flood;
}

.badge-land-registry {
  background-color: $badge-land-registry;
}

.badge-local-authority {
  background-color: $badge-local-authority;
}

.badge-personal-local-authority-searches {
  background-color: $badge-personal-local-authority-searches;
}

.badge-planning {
  background-color: $badge-planning;
}

.badge-radon {
  background-color: $badge-radon;
}

.badge-energy-infrastructure {
  background-color: $badge-energy-infrastructure;
}
