<div class="footer" *ngIf="authService.authenticated()">
<!-- <div class="footer" [ngClass]="{'expand': router.url == '/login'}"> -->
  <div class="col-md-12 col-lg-4 footer-col">
    <p class="footer-text">T & C</p>
  </div>
  <div class="hidden-md hidden-sm hidden-xs col-lg-4 text-center footer-col">
    <i class="fa fa-location-arrow footer-location-arrow" aria-hidden="true"></i>
    <div id="mouse-position" class="footer-mouse-position">0,0</div>
  </div>
  <div class="hidden-md hidden-sm hidden-xs col-lg-4 footer-col">
  </div>
</div>