<nav class="navbar" *ngIf="authService.authenticated()">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
          <li class="btn-group navbar-clear">
            <a (click)="navigateToProducts();">
              <i class="fa fa-home" ></i> Home
            </a>
          </li>         
 
        </ul>
        <ul class="nav navbar-nav navbar-right ">
            <!-- <li>
              <a ><i class="fa fa-commenting-o "></i> Feedback</a>
            </li> -->
            <li class="navbar-login ">
              <a (click)="authService.logout()">Logout</a>
            </li>
          </ul>
    
  </div>
  </nav>
